html, body{
    background-color: gold;

    display: flex;

    justify-content: center;
    align-content: center;

    --primary-color: #gold;

    overflow: hidden;
 
}
.container{
    display: grid;

    margin-top: 30px;

    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 10vh;
    grid-template-areas: "header" "sec" "footer";

    grid-row-gap: 20px;
}
.container .head{
    grid-area: "header";

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container section{
    grid-area: "section";

    background-color: white;

    display: grid;

    border-radius: 10px;

    grid-template-columns: 40vw;
    grid-template-rows: 8vh 1fr;
    grid-template-areas: "form" "res";

    left: 20px;

}
.container section .form-user {
    
    grid-area: "form";

    border-radius: 10px;
    
    display: flex;

    justify-content: center;
    align-content: center;
}
.container section .form-user input{
    height: 30px;
    min-width: 100px;
    width: 90%;

    margin-top: 10px;

    padding: 5px;

    border-radius: 05px;
    border: solid gold 0.5px;

    font: Arial 12px;
}
.container footer{
    text-align: center;
    font-size: 16px;

    font-family: Arial, Helvetica, sans-serif;
    color:white;

}
ul{
    display: block;

    justify-content: center;
    align-content: center;

    padding: 0;

    
}
li{
    list-style: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    display:flex;

    min-width: 100px;
    width: 90%;

    align-items: center;
    justify-content: space-between;
    
    padding: 10px 5px;

    margin-left: 8px;
}
.search{
    opacity: 0.5;
    margin-top: -20px;
    margin-left: 5%;

    border: none;

    font-size: 12px;

    padding: 10px 0 0 0;
}
.res{
    border-radius: 5px;
}

.res:hover {
    background-color: #00000007
}
button{
    background: none;
    border: none;
}
.user-container{
    width: 50vw;
    height: 50vh;

    background-color: white;

    margin-top: 20%;
    
    border-radius: 10px;
    display: none;
}
.user-head{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-left: 20px;
    margin-right: 20px;
    
    border-bottom: 1px solid #ddd;
}
.user-container .user-head h1{
    
}
.user-container .user-head .close{
    padding: 1px;

    margin-top: 25px;

    height: 30px;
    width: 30px;
}

.information-user{
    display: flex;
    flex-direction: column 2;

    justify-content: space-between;

    margin-left: 20px;
    margin-right: 20px;
}
.information-user .attributes .data{
    margin: 0;
}
.information-user .res-information-user{
    text-align: end;
}

